<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sample-keyboard-extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sample-keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF1D6C251DCC2A8700CAABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF1D6C391DCC2A8700CAABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF1D6C441DCC2A8700CAABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF1D6C5A1DCC2A9C00CAABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
